<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Url" value="http://171.221.240.159:10000/api"/>
  </appSettings>

  <connectionStrings>
    <add name="HydeContext" connectionString="Data Source=localhost;Initial Catalog=HydeData;UID=sa;PWD=2793751" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>